html,body{
	height: 100%;
}
.header{
	background: #337ab7;
	margin-bottom: 2em;
	border-bottom: 1px solid grey;
}
.page-header{
	text-indent: 2em;
}
.title{
	font-weight: bold;
	font-size: 3em;
	color: white;
}
p{
	font-weight:bold;
}
.container{
	min-height: 100%;
	margin: 0 auto -100px;
	background: lightgrey;
	border: 1px solid grey;
	border-top: none;
}
.wrap:after{
	content: "";
	height: 100px;
}

.push{
	height: 100px;
}
.pull-left{
	float: left !important;
 	padding: 5px;
}
.btn{
	margin: 5px;
}